<h6>this is the dashboard</h6>
<h3>welcome {{name}}</h3>
<p>Plant collections</p>

{{#if plants}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each plants}}
        <tr>
          {{! //changed this to plants from stories }}
          <td><a href="/plants/{{_id}}">{{title}}</a></td>
          <td>{{formatDate createdAt "MMMM Do YYYY, h:mm:ss a"}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td>
            <a href="/plants/edit/{{_id}}" class="btin btn-float">
              <i class="fas fas edit"></i>
            </a>

          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not added any Plants or Pots to your tracker</p>
{{/if}}