<h6>this is the dashboard</h6>
<h3>welcome {{name}}</h3>
<p>Plant collections</p>

{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          //changed this to plants from stories
          <td><a href="/plants/{{_id}}"></a>{{title}}</td>
          <td>{{createdAt}}</td>
          <td><span class="dash-status">{{status}}</span></td>
          <td></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>You have not added any Plants or Pots to your tracker</p>
{{/if}}