<h1>Shared Plants</h1>
<div class="" id="gridselector">
  {{#each plants}}
    <div class="col s12 m4">
      <div class="imageParent hoverable ">
        <div class="card-image">
         {{{editIcon user ../user _id}}}
        </div>
        <div class="plantCardTop">

            <h5>{{plantName}}</h5>
            <p>{{{stripTags (truncate body 55)}}}</p>
              <br>
              <div class='testStyle'>
              {{!-- <a href="/plants/{{_id}}"> --}}
              <img class=" "  src={{imageurl}}>
              {{!-- </a> --}}
              </div>
              {{!-- //removed responsive-img rom the img class and materialboxed --}}
           
        </div>
        <div class="plantCardBottom">
              <div class="chip">

                <img src="{{user.image}}" alt="" class="imageclass">
                
                <a href="/plants/user/{{user._id}}" class="chiptext">{{user.displayName}}</a>
                
                 <div class="card-action center-align">
                    <a href="/plants/{{_id}}" class="btn grey">View More</a>
                 </div>
             </div>

        </div>
         
      </div>
    </div>

  {{else}}
    <p>No Plants to display</p>
  {{/each}}

</div>